$darkGrey: #3e3e3e;
$lightGrey: #8f8f8f;
$shinyGrey: #d1d1d1;
$color_primary: $darkGrey;
$shiny_grey: #d1d1d1;
$color_text: $color_primary;
$color_footer: $darkGrey;

.darkgrey {
  color: $darkGrey;
}

.lightgrey {
  color: $lightGrey;
}

.shinyGrey {
  color: $shinyGrey;
}
